﻿@model IEnumerable<SportsStore.Domain.Entities.Product>

@{
    ViewBag.Title = "Admin: All ProductsS";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>All products</h1>
<table class="grid">
    <tr>
        <th>
            ID
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="numeric-col">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ProductID
            </td>
            <td>
                @Html.ActionLink(item.Name, "Edit", new { item.ProductID })
            </td>
            <td class="numeric-col">
                @item.Price.ToString("c")
            </td>
            <td>
                @using (Html.BeginForm("Delete", "Admin"))
                {
                    @Html.Hidden("ProductId", item.ProductID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Add a new product", "Create")
</p>
