﻿@model SportsStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "SportStore: Checkout";
}

<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <h3>Ship to</h3>
    <div>
        @Html.LabelFor(x => x.Name)
        @Html.EditorFor(x => x.Name)
    </div>
    <h3>Adress</h3>
    <div>
        @Html.LabelFor(x => x.Line1, "Line 1", null)
        @Html.EditorFor(x => x.Line1)
    </div>
    <div>
        @Html.LabelFor(x => x.Line2, "Line 2", null)
        @Html.EditorFor(x => x.Line2)
    </div>
    <div>
        @Html.LabelFor(x => x.Line3, "Line 3", null)
        @Html.EditorFor(x => x.Line3)
    </div>
    <div>
        @Html.LabelFor(x => x.City)
        @Html.EditorFor(x => x.City)
    </div>
    <div>
        @Html.LabelFor(x => x.State)
        @Html.EditorFor(x => x.State)
    </div>
    <div>
        @Html.LabelFor(x => x.Zip)
        @Html.EditorFor(x => x.Zip)
    </div>
    <div>
        @Html.LabelFor(x => x.Country)
        @Html.EditorFor(x => x.Country)
    </div>
    <h3>Options</h3>
    <label>
        @Html.EditorFor(x => x.GiftWrap)
        Gift wrap these items
    </label>
    <p align="center">
        <input class="actionButtons" type="submit" value="Complete order" />
    </p>
}

